---
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title={SITE_TITLE}
  description={SITE_DESCRIPTION}
  className="flex h-svh max-w-sm flex-col justify-center"
>
  <main class="space-y-4">
      <p>
        Hi, I'm JT. Welcome to my blog!
      </p>
      <p>
        I share thoughts, tutorials, and experiences on web development, technology, and whatever else inspires me. Hope you find something useful or interesting here.
      </p>
      <p>
        Feel free to reach out at <a href="mailto:hello@jthome.net" class="text-blue-500 underline">hello@jthome.net</a> for any inquiries. :)
      </p>
  </main>
</Layout>
